*{
    font-family: "Chakra Petch", serif;
}
body {
    
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#home-page, #exam-page, #result-page {
    margin-top: 50px;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

#answers {
    margin-top: 20px;
}

.answer {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    
}

.answer.selected {
    background-color: #ccc;
}

#next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#next-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.circular-progress {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(#4CAF50 0deg, #e0e0e0 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}